.layout {
    display: flex;
  }
  

  .dataexploration_box {
    width: 70%; 
    padding: 30px;
    background-color: #FFFFFF; 
    margin: 0 10px;
    border: none; 
}

.dataexploration_info_box {
  width: 30%; 
  padding: 10px;
  background-color: #FFFFFF; 
  margin: 0 10px; 
  border: none; 
}